.address {
  background: #f2f2f2;

  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 10;
    min-height: 400px;
    background: #f2f2f2;
  }
}

.address__info {
  display: flex;
  gap: 10px;
  min-height: 60px;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    justify-content: space-between;
    align-items: center;
    padding: 60px 70px;
    min-height: 200px;
  }

  @media (min-width: $desktop-width) {
    // position: relative;
    position: absolute;
    top: 95px;
    left: 110px;
    z-index: 20;
    width: 565px;
    background: #ffffff;
  }
}

.address__slogan {
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__street {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 20px;
  width: 145px;
  font-style: normal;
  color: $base-color-text;
}

.address__map {
  @media (min-width: $desktop-width) {
    // position: absolute;
    // position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
  }
}

.address__map-mob {
  display: block;
  position: relative;
}
