.email-form__input {
  font-family: $font-primary;
  font-size: 20px;
  text-transform: uppercase;
  color: $base-color-text;
}

.email-form__button {
  font-family: $font-primary;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  border: none;
  color: #ffffff;
  background: #68b738;
}
