.explanation {
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 92px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }
}

.explanation__title {
  font-size: 36px;
  line-height: 40px;
}

.explanation__list {
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
  counter-reset: number;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    gap: 77px 137px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 79px;
  }
}

.explanation__list-text {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  width: 200px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    width: 245px;
    line-height: 24px;
  }
}

.explanation__list-item {
  position: relative;
  display: flex;
  gap: 20px;
  padding-top: 40px;
  width: 280px;
  counter-increment: number;

  &::before {
    content: "";
    background-color: $bg-basic-green;
    display: block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;

    @media (min-width: $tablet-width) {
      background-size: 80px 80px;
      width: 80px;
      height: 80px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: counter(number);
      position: absolute;
      font-size: 280px;
      font-family: $font-primary;
      color: #f2f2f2;
      top: -70;
      right: 0;
      z-index: -1;
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    gap: 31px;
    width: 230px;
    min-height: 280px;
  }
}


.explanation__list-item--benefit {
  &::before {
    background-image: url("../../icons/stack.svg#icon_leaf");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
  }

  // @media (min-width: $tablet-width) {
  //   background-image: url("../../icons/stack.svg#number_one");
  //   background-repeat: no-repeat;
  //   background-position: right 40px;
  //   background-size: 112px 280px;
  // }
}

.explanation__list-item--practical {
  &::before {
    background-image: url("../../icons/stack.svg#icon_water");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
  }

  // @media (min-width: $tablet-width) {
  //   background-image: url("../../icons/stack.svg#number_two");
  //   background-repeat: no-repeat;
  //   background-position: right 40px;
  //   background-size: 134px 239px;
  // }
}

.explanation__list-item--replace {
  &::before {
    background-image: url("../../icons/stack.svg#icon_eat");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
  }

  // @media (min-width: $tablet-width) {
  //   background-image: url("../../icons/stack.svg#number_three");
  //   background-repeat: no-repeat;
  //   background-position: right 40px;
  //   background-size: 134px 235px;
  // }
}

.explanation__list-item--time {
  &::before {
    background-image: url("../../icons/stack.svg#icon_watch");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 32px;
  }

  // @media (min-width: $tablet-width) {
  //   background-image: url("../../icons/stack.svg#number_four");
  //   background-repeat: no-repeat;
  //   background-position: right 40px;
  //   background-size: 136px 225px;
  // }
}
