.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 0 0;
  text-align: center;

  @media (max-width: $mobile-width-only) {
    min-height: 480px;
    background: url("../../images/hero_bg_mob@2x.png") no-repeat center top;
  }

  @media (min-width: $tablet-width) {
    padding-left: 90px;
    min-height: 810px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    margin-bottom: 82px;
    padding-left: 190px;
    min-height: 500px;
  }
}

.hero__container {
  @media (min-width: $desktop-width) {
    position: relative;
    margin: 0 auto;
    min-height: 499px;
  }
}

.hero__title {
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    width: 416px;
    color: #000000;
  }
}

.hero__slogan {
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.hero__wrapper {
  @media (min-width: $tablet-width) {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.hero__link {
  display: block;
  padding: 10px 0;
  font-size: 16px;
  width: 280px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: $bg-basic-green;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    height: 50px;
    z-index: 2;
  }
}

.hero__image-mob {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: -90px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    top: -81px;
    left: 352px;
    width: 552px;
  }
}
