.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  font-family: $font-primary;
  font-size: 20px;

  @media (min-width: $tablet-width) {
    width: 704px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    height: 59px;
  }
}

.navigation__list {
  @media (min-width: $mobile-width) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    width: 436px;
    gap: 33px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    width: 475px;
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  gap: 56px;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }
}

.navigation__item-link {
  color: #000000;
}

.navigation__toggle {
  background-image: url("../../icons/stack.svg#burger_menu");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
