.navigation__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 94px;
    min-width: 704px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 94px;
    min-width: 1220px;
  }
}

.navigation {
  position: absolute;
  top: 69px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  min-height: 199px;
  font-family: $font-primary;
  font-size: 20px;
  background-color: #ffffff;


  @media (min-width: $tablet-width) {
    position: static;
    flex-direction: row;
    min-width: 436px;
    min-height: 55px;
  }

  @media (min-width: $desktop-width) {
    min-width: 475px;
    height: 59px;
  }
}

.navigation__list {

  min-width: 100%;
  min-height: 199px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    min-height: 55px;
    width: 100%;
    gap: 33px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  width: 175px;
  gap: 56px;

  @media (min-width: $tablet-width) {
    gap: 13px;
  }

  @media (min-width: $desktop-width) {
    gap: 14px;
    width: 200px;
  }
}

.navigation__item {
  padding: 23px 0;
  background-color: #ffffff;
  border-top: $border-line;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.navigation__item-link {
  color: #000000;
  position: relative;

  &:active::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $bg-basic-green;
  }

  &:hover {
    color: rgb(0, 0, 0, 0.6);
  }

  &:active {
    color: rgb(0, 0, 0, 0.3);
  }

  @media (min-width: $desktop-width) {
    &:active::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
    }
  }
}

.navigation--closed .navigation__toggle {
  position: absolute;
  top: -46px;
  right: 21px;
  background-image: url("../../icons/stack.svg#burger_menu");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;

  .navigation--closed .navigation__list {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--opened .navigation__toggle {
  position: absolute;
  top: -46px;
  right: 21px;
  background-image: url("../../icons/stack.svg#cross_menu");
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.navigation--opened .navigation__list {
  display: block;
}

