.program {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 71px;
  }
}

.program__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
}

.program__list-item {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 21px 33px 18px 20px;
  background: $bg-basic-grey;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 372px;
    padding: 77px 61px 59px 52px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    height: 374px;
    padding: 77px 29px 53px 52px;
  }
}

.program__list-item--slim::after {
  content: "";
  background-image: url("../../icons/stack.svg#cat_slim");
  position: absolute;
  background-size: 50px 53px;
  background-repeat: no-repeat;
  display: block;
  width: 50px;
  height: 53px;
  top: 21;
  left: 20;

  @media (min-width: $tablet-width) {
    top: 81px;
    left: 445px;
    background-size: 200px 211px;
    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop-width) {
    top: 41px;
    left: 52px;
    background-size: 100px 106px;
    width: 100px;
    height: 106px;
  }
}

.program__list-item--pro::after {
  content: "";
  background-image: url("../../icons/stack.svg#cat_pro");
  position: absolute;
  display: block;
  background-size: 67px 50px;
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  top: 24;
  left: 13;

  @media (min-width: $tablet-width) {
    top: 91px;
    left: 411px;
    background-size: 268px 200px;
    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 33px;
    background-size: 134px 100px;
    width: 134px;
    height: 100px;
  }
}

.program__list-title {
  padding-bottom: 24px;
  padding-left: 70px;
  font-size: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162;
    padding-bottom: 73px;
    font-size: 36px;
  }
}

.program__list-text {
  padding-bottom: 24px;
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 18px;
  color: $base-color-text;

  @media (min-width: $tablet-width) {
    padding-bottom: 48px;
    width: 340px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 23px;
    width: 457px;
  }
}

.program__list-link {
  padding-top: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;

  &::after {
    content: "";
    mask-image: url("../../icons/stack.svg#arrow");
    mask-size: 35px 12px;
    mask-repeat: no-repeat;
    width: 35px;
    height: 12px;
    mask-position: -8px 100%;
    background-color: #000000;
    display: block;
  }

  &:hover::after {
    mask-position: 0 100%;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    border: none;
    font-size: 20px;
  }
}
