.stats-price {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: flex-start;
    gap: 63px;
  }
}
